.btmNav {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  border-top: 1px solid #ccc;
  li {
    float: left;
    width: 25%;
    text-align: center;
    padding-top: 5px;

    .iconfont {
      font-size: 20px;
    }
  }
}
